<div class="header">
    <a class="header-title" routerLink="/home">Monster Shop</a>
    
    <div class="header-right">

        <a mat-button [matMenuTriggerFor]="products">Products</a>
        
        <mat-menu #products="matMenu" class="menu-trigger mat-menu-trigger">
            <button mat-menu-item [routerLink]="['monster', 'MONSTER_ENERGY']">MONSTER ENERGY</button>
            <button mat-menu-item [routerLink]="['monster', 'MONSTER_ULTRA']">MONSTER ULTRA</button>
            <button mat-menu-item [routerLink]="['monster', 'JUICE_MONSTER']">JUICE MONSTER</button>
            <button mat-menu-item [routerLink]="['monster', 'DRAGON_TEA']">DRAGON TEA</button>
            <button mat-menu-item routerLink="/monsters" >ALL PRODUCTS</button>
        </mat-menu>

        <a class="button">
            <mat-icon>shopping_cart</mat-icon>
        </a>
    </div>
</div>
